.advantages {
  background-color: #fff5f6;
  &__title {
    display: none;
  }
  &__list {
    display: flex;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    &:nth-child(1) {
      &::before {
        content: url(../images/Advantages/icon1.png);
        position: absolute;
      }
    }
    &:nth-child(2) {
      &::before {
        content: url(../images/Advantages/icon2.png);
        position: absolute;
      }
    }
    &:nth-child(3) {
      &::before {
        content: url(../images/Advantages/icon3.png);
        position: absolute;
      }
    }
  }
  &__number {
    font-family: Titan One;
    text-align: right;
    letter-spacing: 0.04em;
    color: #d41443;
    margin-bottom: 13px;
  }
  &__text {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.02em;
    color: #000000;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .advantages {
    padding: 39px 90px 97px 30px;
    &__list {
      display: flex;
      flex-direction: column;
    }
    &__item {
      &::before {
        top: -30px;
      }
      &:nth-child(1) {
        margin-bottom: 70px;
      }
      &:nth-child(2) {
        margin-bottom: 70px;
      }
    }
    &__number {
      font-size: 36px;
      line-height: 1.14;
    }
    &__text {
      font-size: 12px;
      line-height: 1.7;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages {
    padding: 66px 76px 140px 36px;

    &__item {
      &::before {
        top: -26px;
      }
      &:nth-child(1) {
        margin-right: 30px;
      }
      &:nth-child(2) {
        margin-right: 30px;
      }
    }
    &__number {
      font-size: 48px;
      line-height: 1.14;
    }
    &__text {
      font-size: 14px;
      line-height: 1.74;
    }
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding: 39px 115px 139px 115px;
    &__item {
      &::before {
        top: -30px;
      }
      &:nth-child(1) {
        margin-right: 30px;
      }
      &:nth-child(2) {
        margin-right: 30px;
      }
    }
    &__number {
      font-size: 58px;
      line-height: 1.14;
    }

    &__text {
      font-size: 16px;
      line-height: 1.76;
    }
  }
}
