// ==== componenty ====//
.footer {
  background-color: #fff5f6;
  display: flex;
  height: 247px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding-inline-start: 0;
}
// ==== end componenty ====//

// ==== titles ====//

.titles {
  padding-right: 257px;
  padding-left: 114px;

  &__title {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.133;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffa5ba;
  }
  &_subtitle {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    line-height: 1.138;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #d41443;
  }
}

// ==== end titles ====//

// ==== social ====//
.social {
  &__list {
    display: flex;
    padding-left: 163px;
  }
  &__icon {
    width: 34px;
    height: 34px;
    margin-right: 24px;
  }
}

// ==== end social ====//

// ==== contact ====//
.contact {
  &__item {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.02em;
    color: #000000;
  }
  &__link {
    color: #d41443;
  }
}

// ==== end contact ====//

// ==== rights ====//

.rights {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.857;
  letter-spacing: 0.02em;
  color: #907e82;
  text-align: center;
  background-color: #fff5f6;
  border-top: 1px solid #e1e1e1;

  &__text {
    margin-bottom: 10px;
    margin-top: 9px;
  }
}

// ==== end rights ====//
