// ==== componenty ====//
.arrow__btn {
  width: 40px;
  height: 40px;
  background: url(../images/arrow-right.png);
  border-radius: 0%;
  border: none;
  cursor: pointer;
}
// ==== end componenty ====//
.products {
  padding: 127px 116px 119px 127px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-family: Titan One;
    font-size: 30px;
    line-height: 1.13;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
    display: contents;
  }
  &__text {
    font-family: DM Sans;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.76;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffffff;
    margin-top: 60px;
    margin-bottom: 62px;
  }
  &__list {
    display: flex;
  }
  &__item {
    width: 329px;
    height: 525px;
    border-radius: 24px;
    padding: 110px 44px 40px 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 259px;
    ::after {
      content: url(../images/Group-ellipse.png);
      position: relative;
      top: -155px;
      right: 40%;
    }

    &:nth-child(1) {
      background: #ffb8ca;
      margin-right: 30px;
      ::before {
        content: url(../images/Products/desktop-products1.png);
        position: absolute;
        top: -220px;
        right: 0;
      }
    }
    &:nth-child(2) {
      background: #f0d1a5;
      margin-right: 30px;
      ::before {
        content: url(../images/Products/desktop-products2.png);
        position: absolute;
        top: -220px;
        right: 0;
      }
    }
    &:nth-child(3) {
      background: #c2e297;
      ::before {
        content: url(../images/Products/desktop-products3.png);
        position: absolute;
        top: -220px;
        right: 0;
      }
    }
  }
}
.title__wraper {
  position: relative;
}
