.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews__opinion {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  size: 12px;
  line-height: 31px;
  text-align: center;
  color: #000000;
  background: #fafafa;
}
.reviews__sign {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 186%;
  text-align: center;
  color: #000000;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .opinion__wraper {
    padding: 43px 66px 26px 57px;
    background-color: #fafafa;
    margin-top: 29px;
  }
  .reviews__opinion {
    font-size: 12px;
    width: 180px;
    padding: 0 23px;
    margin-left: 20px;

    position: relative;
    z-index: 1;
    background: repeating-linear-gradient(#fafafa, #fafafa 30px, #e1e1e1 30px, #e1e1e1 31px);
    &:before {
      content: '';
      background-image: url(../images/reviews/before.png);
      width: 54px;
      height: 40px;
      display: inline-block;
      position: absolute;
      right: 115px;
      top: -20px;
      z-index: -1;
    }
  }

  .reviews__sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    margin-bottom: 86px;
    margin-top: 30px;
    margin-left: auto;
    &:before {
      content: '';
      background-image: url(../images/reviews/minidots.png);
      width: 32px;
      height: 4px;
      display: inline-block;
      margin-bottom: 18px;
    }
    &:after {
      content: '';
      background-image: url(../images/reviews/rdots.png);
      width: 72px;
      height: 12px;
      display: inline-block;
      margin-top: 30px;
    }
  }
  .reviews__photo {
    display: flex;
    margin-top: 80px;
    margin-left: 115px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .opinion__wraper {
    padding: 30px 36px 28px 40px;
    background-color: #fafafa;
    margin-top: 29px;
  }
  .reviews__opinion {
    display: flex;
    font-size: 14px;
    width: 544px;

    position: relative;
    z-index: 1;
    background: repeating-linear-gradient(#fafafa, #fafafa 30px, #e1e1e1 30px, #e1e1e1 31px);
    &:before {
      content: url(../images/reviews/before.png);
      width: 54px;
      height: 40px;
      position: absolute;
      right: 515px;
      top: -18px;
      z-index: -1;
    }
  }

  .reviews__sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    margin-bottom: 119px;
    margin-top: 24px;
    margin-left: 40px;

    &:before {
      content: '';
      background-image: url(../images/reviews/minidots.png);
      width: 32px;
      height: 4px;
      display: inline-block;
      margin-bottom: 14px;
    }

    &:after {
      content: '';
      background-image: url(../images/reviews/rdots.png);
      width: 72px;
      height: 12px;
      margin-top: 35px;
      display: inline-block;
    }
  }
  .reviews__photo {
    display: flex;
    margin-left: 292px;
    margin-top: 160px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .opinion__wraper {
    padding: 32px 54px 32px 50px;
    background-color: #fafafa;
    margin-top: 29px;
  }
  .reviews__opinion {
    display: flex;
    font-size: 16px;
    width: 822px;

    position: relative;
    z-index: 1;
    background: repeating-linear-gradient(#fafafa, #fafafa 30px, #e1e1e1 30px, #e1e1e1 31px);
    &:before {
      content: '';
      background-image: url(../images/reviews/before.png);
      width: 54px;
      height: 40px;
      display: inline-block;
      position: absolute;
      right: 797px;
      top: -15px;
      z-index: -1;
    }
  }

  .reviews__sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin-bottom: 132px;
    margin-top: 15px;

    &:before {
      content: '';
      background-image: url(../images/reviews/minidots.png);
      width: 32px;
      height: 4px;
      display: inline-block;
      margin-bottom: 14px;
    }

    &:after {
      content: '';
      background-image: url(../images/reviews/rdots.png);
      width: 72px;
      height: 12px;
      display: inline-block;
      margin-top: 35px;
    }
  }
  .reviews__photo {
    display: flex;
    margin-left: 412px;
    margin-top: 123px;
    margin-bottom: 50px;
  }
}
