<section class="header">
    <div class="navigation">
        <div class="navigation__logo">

            <a href="#">
            <img class="navigation__logo-header" src="./images/header/logo-header.png" width="199" height="50" />
            </a>

        </div>
        <div class="navigation__list">
            <ul class="navigation__list-header">
                <li class="navigation__item"><a class="navigation__link" href="#home">Home</a></li>
                <li class="navigation__item"><a class="navigation__link" href="#">About us</a></li>
                <li class="navigation__item"><a class="navigation__link" href="#">How it's made?</a></li>
                <li class="navigation__item"><a class="navigation__link" href="#our-products">Our products</a></li>
                <li class="navigation__item"><a class="navigation__link" href="#">Contact</a></li>
            </ul>
        </div>
        <div class="navigation__hamburger"><svg class="hamburger" width="20" height="12">
                <use href="../src/images/icons.svg#icon-Burger"></use>
            </svg></div>
        <div class="navigation__button">
            <button class="buy_btn" type="button">Buy now ></button>
        </div>
    </div>
</section>