<section class="header">
    <div class="navigation">
        <div class="navigation__logo">

            <a href="#">
                <img class="navigation__logo-header" src="./images/header/logo-header.png" width="199" height="50" />
            </a>

        </div>
        <div class="navigation__list">
            <ul class="navigation__list-header">
                <li class="navigation__item"><a class="navigation__link" href="#home">Home</a></li>
                <li class="navigation__item"><a class="navigation__link" href="#">About us</a></li>
                <li class="navigation__item"><a class="navigation__link" href="#">How it's made?</a></li>
                <li class="navigation__item"><a class="navigation__link" href="#our-products">Our products</a></li>
                <li class="navigation__item"><a class="navigation__link" href="#contact">Contact</a></li>
            </ul>
        </div>
        <div class="navigation__hamburger" data-modal-open><svg class="hamburger" width="20" height="12">
                <use href="../src/images/icons.svg#icon-Burger"></use>
            </svg></div>
        <div class="navigation__button">
            <button class="buy_btn" type="button">Buy now <svg class="vector" width="5" height="8">
                    <use href="../src/images/icons.svg#icon-Vector-1-2"></use>
                </svg></button>
        </div>
    </div>
</section>
<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <div class="close-btn" data-modal-close><svg class="close-icon" width="14" height="14">
            <use href="../src/images/icons.svg#icon-close"></use></svg>
        <button class="buy_btn" type="button">Buy now ></button>
        <ul class="modal__list">
            <li class="modal__item"><a class="modal__link" href="#home" data-modal-close>Home</a></li>
            <li class="modal__item"><a class="modal__link" href="#">About us</a></li>
            <li class="modal__item"><a class="modal__link" href="#">How it's made?</a></li>
            <li class="modal__item"><a class="modal__link" href="#our-products">Our products</a></li>
            <li class="modal__item"><a class="modal__link" href="#contact">Contact</a></li></div>
        </ul>
        </div>
    </div>
<script src="../js/modal.js"></script>