<section class="hero">
    <h1 id="home" class="hero__title">ice cream made with <span class="hero__red">passion</span></h1>
    <div class="hero__buttons">
        <button class="products_btn" type="button">Products</button>
        <button class="how_btn" type="button">How it's made?</button>
    </div>
    <img class="hero__icecream" src="../src/images/hero/mobile/icecream.png"/>
    <img class="hero__icecream-tablet" src="../src/images/hero/tablet/icecream.png"/>
    <img class="hero__icecream-desktop" src="../src/images/hero/desktop/icecream.png"/>
    <img class="hero__ellipse" src="../src/images/hero/mobile/Ellipse.png" />
    <img class="hero__ellipse-tablet" src="../src/images/hero/tablet/ellipse.png"/>
    <img class="hero__ellipsed" src="../src/images/hero/desktop/ellipse.png" />
    <img class="hero__milk-tablet" src="../src/images/hero/tablet/milk.png"/>
    <img class="hero__milk-desktop" src="../src/images/hero/desktop/milk.png" />
    <img class="hero__tasty-tablet" src="../src/images/hero/tablet/tasty.png"/>
    <img class="hero__tasty-desktop" src="../src/images/hero/desktop/tasty.png"/>
    <img class="hero__ellipse-numbers" src="../src/images/hero/tablet/ellipse_numbers.png"/>
    <img class="hero__ellipse-desktop" src="../src/images/hero/desktop/ellipse_numbers.png"/>
    <img class="hero__ellipse-numbers1" src="../src/images/hero/tablet/ellipse_numbers1.png"/>
    <img class="hero__ellipse-desktop1" src="../src/images/hero/desktop/ellipse_numbers1.png"/>
    <img class="hero__arrow-btn" type="button" src="../src/images/hero/tablet/arrow.png" width="18" height="18"/>
    <img class="hero__arrow-btnd" type="button" src="../src/images/hero/desktop/arrow.png" width="26" height="26" />
    <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    <div class="hero__numbers">
        <ul class="hero__list">
            <li class="hero__item">16<p class="hero__item-text">cafes</p></li>
            <li class="hero__item">23<p class="hero__item-text">food trucks</p></li>
        </ul>
    </div>
</section>