<section class="hero">
    <h1 class="hero__title">ice cream made with <span class="hero__red">passion</span></h1>
    <div class="hero__buttons">
        <button class="products_btn" type="button">Products</button>
        <button class="how_btn" type="button">How it's made?</button>
    </div>
    
    </div>
    <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    <div class="hero__numbers">
        <ul class="hero__list">
            <li class="hero__item">16<p class="hero__list-text">cafes</p></li>
            <li class="hero__item">23<p class="hero__list-text">food trucks</p></li>
        </ul>
    </div>
</section>