<section class="products">
    <div class="titles">
        <p class="titles__subtitle">tradition and love</p>
        <h1 class="titles__title">products</h1>
    </div>
    <ul class="products__list list">
        <li class="products__item">
            <h3 class="products__title">ice cream</h3>
            <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore
                et</p>
            <button class="arrow__btn" type="button">
            </button>
        </li>
        <li class="products__item">
            <h3 class="products__title">ice coffee</h3>
            <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore
                et</p>
            <button class="arrow__btn" type="button"></button>
        </li>
        <li class="products__item">
            <h3 class="products__title">milkshakes</h3>
            <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore
                et</p>
            <button class="arrow__btn" type="button"></button>
        </li>
    </ul>
</section>